@import "lib/css/travis.css";

#top h1         { text-indent: 0; background: none; width: auto; margin: auto 20px; font-weight: 100; font-size: 150%; color: #fff; }
#navigation li  { line-height: 40px; }
